.lodva {
  position: relative;
  //   padding-bottom: 120px;

  //   @media screen and (max-width: 1200px) {
  //     padding-bottom: 100px;
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }

  //   @media screen and (max-width: 768px) {
  //     padding-bottom: 80px;
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }

  //   @media screen and (max-width: 511px) {
  //     padding-bottom: 60px;
  //   }

  &-block {
    display: flex;
    height: 848px;

    @media screen and (max-width: 792px) {
      height: unset;
    }
  }

  &-select {
    width: 30%;
    height: 848px;
    background: url("../../images/lodva/background1.png"),
      #1d2122 -207.626px -9.612px / 236.958% 101.046% no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 792px) {
      height: unset;
      padding: 40px 20px 0 40px;
      align-items: flex-start;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-button {
      width: 100%;
      padding: 12px 26px;
      color: var(--white-1, #fff);

      text-align: left;
      font-family: Roboto Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      border: 1px solid transparent;
      cursor: pointer;
      transition: border 250ms linear;
      transition-property: border, background, color;

      &:hover {
        border: 1px solid var(--gray-1, #f7f7f9);
      }

      &.current {
        background: var(--yellow-5, #ffaa17);
        border: 1px solid #ffaa17;
        color: #1d2122;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 848px;
    background: url("../../images/lodva/background2.png"),
      #f7f7f9 0px -89.627px / 100% 124.587% no-repeat;

    @media screen and (max-width: 792px) {
      justify-content: flex-start;
      flex-direction: column;
      transform: translateX(0);
      height: unset;
      padding: 40px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    &-image {
      transform: translateX(-80px);

      @media screen and (max-width: 792px) {
        transform: translateX(0);
      }

      &-img {
        width: 330px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      &-title {
        color: var(--yellow-5, #ffaa17);
        text-align: left;
        font-family: Roboto Condensed;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 107%; /* 55.64px */
        letter-spacing: 1.04px;
        text-transform: uppercase;

        @media screen and (max-width: 992px) {
          font-size: 44px;
        }

        @media screen and (max-width: 792px) {
          font-size: 30px;
        }
      }

      &-decscription {
        color: var(--black-3, #1d2122);
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 180% */

        @media screen and (max-width: 792px) {
          font-size: 16px;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-item {
        list-style: disc;
        color: var(--black-2, #7e7e7e);
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28.8px; /* 160% */

        @media screen and (max-width: 792px) {
          font-size: 16px;
        }
      }
    }

    &-progress {
      display: flex;
      align-items: center;
      gap: 16px;
      @media screen and (max-width: 792px) {
        justify-content: flex-end;
      }

      &-first {
        color: var(--black-3, #1d2122);
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px; /* 180% */
      }

      &-decor {
        width: 144px;
        height: 4px;
        background: #e4e4e7;

        &-line {
          background: #1d2122;
          width: 1%;
          height: 4px;
          transition: width 250ms linear;
        }
      }

      &-last {
        color: var(--black-3, #1d2122);
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px; /* 180% */
      }
    }
  }
}
