.header {
  position: relative;
  background: var(--white-1, #fff);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 20px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-menu {
    display: flex;
    align-items: center;
    gap: 74px;

    @media screen and (max-width: 992px) {
      gap: 24px;
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      background: #fff;
      flex-direction: column;
      padding: 16px;
      width: 217px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 250ms linear;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-link {
      color: var(--black-3, #1d2122);
      font-family: Roboto Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      transition: color 250ms linear;

      &.current {
        color: var(--yellow-5, #ffaa17);
      }

      &:hover {
        color: var(--yellow-5, #ffaa17);
        cursor: pointer;
      }

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &-block {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-lang {
    display: flex;
    align-items: center;
    gap: 4px;

    &-button {
      color: var(--black-3, #1d2122);
      font-family: Roboto Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }

      &.current {
        color: var(--yellow-5, #ffaa17);
      }
    }
  }

  &-login {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--yellow-5, #ffaa17);
    padding: 12px 21px;

    color: var(--black-3, #1d2122);
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    border: 1px solid transparent;
    transition: border 250ms linear;
    transition-property: border, background;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      font-size: 16px;
    }

    &:hover {
      border: 1px solid #ffaa17;
      background: transparent;
    }
  }

  &-mobile-menu {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
