.product {
  padding-top: 120px;
}

.product-block {
  display: flex;
  gap: 30px;
}

.product-content {
  &-second {
    margin-bottom: 16px;
  }

  &-title {
    margin-bottom: 24px;
  }

  &-description {
    margin-bottom: 40px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &-image {
      background: var(--black-3, #1d2122);
      width: 60px;
      height: 60px;
    }
  }
}

.product-images {
  display: flex;
  gap: 20px;

  &-first {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
