.banner {
  position: relative;
  background-image: url("../../images/banner/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.banner-block {
  position: sticky;
  z-index: 2;
  display: flex;
  gap: 40px;
}

.banner-content {
  width: 50%;
  &-second {
    margin-bottom: 24px;
  }

  &-title {
    color: #fff;
    margin-bottom: 32px;
  }

  &-description {
    color: #fff;
  }
}

.banner-image {
  width: 50%;
  &-img {
    transform: translateY(38px);
  }
}
