.we {
  padding-top: 120px;
}

.we-second {
  margin-bottom: 16px;
}

.we-title {
  margin-bottom: 24px;
}

.we-description {
  margin-bottom: 40px;
}

.we-list {
  display: flex;
  gap: 30px;
}

.we-item {
  width: calc((100% - 60px) / 3);
  background: var(--white-1, #fff);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 24px;
  cursor: pointer;

  &:hover &-image {
    background: #ffaa17;
  }

  &:hover &-title {
    color: #ffaa17;
  }

  &-image {
    background: #1d2122;
    width: 40px;
    height: 40px;
    margin-bottom: 27px;
    transition: background 250ms linear;
  }

  &-title {
    margin-bottom: 16px;
  }
}
