.product {
  padding-top: 120px;

  @media screen and (max-width: 1200px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 511px) {
    padding-top: 60px;
  }
}

.product-block {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.product-content {
  &-second {
    margin-bottom: 16px;
  }

  &-title {
    margin-bottom: 24px;
  }

  &-description {
    margin-bottom: 40px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &-image {
      background: var(--black-3, #1d2122);
      width: 60px;
      height: 60px;
    }
  }
}

.product-images {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 992px) {
    justify-content: center;
  }

  &-first {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 992px) {
      &-img {
        width: 100%;
      }
    }
  }

  &-second {
    @media screen and (max-width: 992px) {
      &-img {
        width: 100%;
      }
    }
  }
}
