.container {
  max-width: 1360px;
  margin: 0 auto;
}

.container-header {
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1322px;
    margin: 0 auto;
  }
  .container-header {
    max-width: 1322px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .container-header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .container-header {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 676px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .container-header {
    max-width: 676px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 544px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-header {
    max-width: 544px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
  }

  .container-header {
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
  }
}
