.first-title {
  color: var(--black-3, #1d2122);
  font-family: Roboto Condensed;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%; /* 55.64px */
  letter-spacing: 1.04px;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    font-size: 44px;
    letter-spacing: 0.88px;
  }

  @media screen and (max-width: 576px) {
    font-size: 40px;
    letter-spacing: 0.8px;
  }

  @media screen and (max-width: 511px) {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}

.second-title {
  color: var(--yellow-5, #ffaa17);
  font-family: Roboto Condensed;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.76px;
  text-transform: uppercase;
}

.description {
  color: var(--black-3, #1d2122);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 180% */

  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

.list-title {
  color: var(--black-3, #1d2122);
  font-family: Roboto Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  transition: color 250ms linear;
}

.list-description {
  color: var(--black-2, #7e7e7e);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
}

.first-button {
  padding: 18px 32px;
  border: 1px solid transparent;
  background: var(--yellow-5, #ffaa17);
  overflow: hidden;
  color: var(--black-3, #1d2122);
  text-align: center;
  text-overflow: ellipsis;

  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  transition: background 250ms linear;
  transition-property: color, background;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: var(--black-3, #1d2122);
  }
}

.second-button {
  padding: 18px 32px;
  background: transparent;
  border: 1px solid var(--black-3, #1d2122);
  overflow: hidden;
  color: var(--black-3, #1d2122);
  text-align: center;
  text-overflow: ellipsis;

  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  transition: background 250ms linear;
  transition-property: color, background;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: var(--black-3, #1d2122);
  }
}
